.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;

  // For non-rectangular design
  // However its affecting the content too
  transform: skew(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left; //Element to sit on the left side so content floats around it
    //Define a vectorized shape
    //50% - half the width and height so 7.5rem), at 50% 50% because that means its the center of the circle horizontally and vertically
    //Also besides being floated, it only works if the element has defined dimensions (width/height)
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);

    clip-path: circle(50% at 50% 50%);

    //Best practice to add some space/move around with an element thats floated is not to use margin. We use the transform
    transform: translateX(-3rem) skew(12deg); //Skew could not use the direct child element as cannot have two transform
    position: relative;
  }

  &__img {
    //100% this inmage is within a shape, so its 100% of the parent element __shape so 15rem
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text {
    transform: skew(12deg);
  }

  &__caption {
    //In middle
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%); //Center vertically using position absolute/top/let
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  //As soon as the story is hovered we want to change the caption
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

}